select {
  font-size: 1em;
  padding: 0.5rem;
  margin-right: 10px;
  cursor: pointer;
}
option {
  background-color: rgba(51, 102, 153, 0.26);
}
option:active {
  background-color: #eeeeee;
}
button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
}
button:hover {
  background-color: #cfd8dc;
}
button[disabled] {
  background-color: #eee;
  color: #ccc;
  cursor: not-allowed;
}
