<div *ngIf='isAdmin'>	
	<h2>My page</h2>
	<h3>
		You are logged in as <span>{{'shkarsmode' | uppercase}}</span>
	</h3>
	<button (click)='logout()'>Logout</button>
</div>

<div *ngIf='!isAdmin'>
	<h2>Login</h2>
		<label for="name">Name: </label>
		<input type="text" id='name' [(ngModel)]='name' placeholder="name"><br>
		<label for="password">Password: </label>
		<input type="password" id='password' [(ngModel)]='password' placeholder="password"><br>
		<button type="submit" (click)='submit()'>Login</button>
</div>
