<!-- <div *ngIf='selectedHero'>Loading...</div> -->

<div>
    <!-- <h2 *ngIf='heroes.length'>My Heroes</h2> -->
    <!-- <div *ngIf='!isLoaded'><h2>Loading...</h2></div> -->
    <ul class='heroes' *ngIf='heroes.length'>
        <li *ngFor='let heroId of id_heroes'>
            <a routerLink='/detail/{{heroes[heroId-1].id}}'>
                <span class="badge">{{heroes[heroId-1].id}}</span> {{heroes[heroId-1].name}}
            </a>
            <span *ngIf='isAdmin' class='x' (click)='deleteHeroList(heroes[heroId-1])'><span *ngIf='!isLoading.includes(heroId)'>X</span> 
                <span *ngIf='isLoading.includes(heroId)'><img src="https://i.stack.imgur.com/kOnzy.gif" alt=""></span>
            </span>
        </li>
    </ul>
    <!-- <h2 *ngIf='!heroes.length && isLoaded'>There are no heroes now</h2> -->
</div>
<!-- <button (click)='getData()'>Login</button>
<button (click)='getDataOut()'>Logout</button>
<div *ngIf='isAdmin'>You're admin</div> -->
<!-- <button (click)='getData()'>GetData</button> -->


<!-- <app-hero-detail *ngIf='selectedHero' [hero]='selectedHero'></app-hero-detail> -->